.offers {

    &__content {}

    &__content-title {
        padding: 2vh 0vw;
        margin-top: var(--margin-top);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -5px;

        @media (max-width:1024px) {
            justify-content: center;
            margin: 0;
        }
    }

    .offers__content-block:nth-child(1) {
        background: #FFF2CB;
    }

    .offers__content-block:nth-child(2) {
        background: #DDEFE8;
    }

    .offers__content-block:nth-child(3) {
        background: var(--main-color-mod2);
    }

    &__content-block {
        flex: 0 1 32%;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;

        @media (max-width:992px) {
            margin: 2vh 2vw;
        }

        @media (max-width:768px) {
            max-width: 100%;
        }
    }

    &__content-block-text {
        color: var(--main-color-black);
        text-align: center;
        padding: 3vh 3vw;
    }

    &__content-block-img-1,
    &__content-block-img-2,
    &__content-block-img-3 {
        max-width: 360px;
        width: 100vw;

        max-height: 180px;
        height: 100vh;

        @media (max-width:768px) {
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    &__content-block-img-1 {
        background: url('/src//img/offers/1.png') center no-repeat;
    }

    &__content-block-img-2 {
        background: url('/src//img/offers/2.png') center no-repeat;
    }

    &__content-block-img-3 {
        background: url('/src//img/offers/3.png') center no-repeat;
    }


    &__content-banner {
        background: #E6E6FC;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3vh;
        border-radius: 15px;

        @media (max-width:992px) {
            margin: 2vh 0;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__content-banner-container {
        padding: 3vh 3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }

    &__content-banner-title {
        color: var(--main-color-black);
        text-align: center;
        padding: 2vh 2vw;
    }

    &__content-banner-text {
        max-width: 450px;
        padding: 2vh 2vw;
        color: var(--main-color-black);
    }

    &__content-banner-btn {
        margin: 2vh 2vw;
        width: 200px;
        height: 50px;
        font-size: var(--front-size20);
    }

    &__content-banner-img {

        max-width: 552px;
        width: 100vw;
        max-height: 300px;
        height: 100vh;
        background: url('/src//img/offers/4.png') 0 0/contain no-repeat;
    }
}

.conteiner {}