.header__content-calc {}
.offers__content{
    display: block;
}
.tabs {
    display: block;
    position: relative;
    z-index: 5;
    font-size: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    display: none;
    border: 1px solid var(--main-color-dw);
    border-radius: 7px;
    padding: 20px 15px;
    font-size: 16px;
}

#tab-btn-1:checked~#tabcontent-1,
#tab-btn-2:checked~#tabcontent-2 {
    display: block;
    background: var(--main-color-w);
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #d6d6d6;
    border: 1px solid var(--main-color-dw);
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 20px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs>label:not(:first-of-type) {
    border-left: none;
}

.tabs>input[type="radio"]:checked+label {
    background-color: var(--main-color-w);
    border-bottom: 1px solid var(--main-color-w);
}

.tabcontent {

    &__conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:1024px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__input-conteiner {}

    &__input-slider,
    &__input-text {

        display: flex;
        flex-wrap: wrap;

        @media (max-width:768px) {
            justify-content: center;
            align-items: center;
        }
    }

    &__input-slider-conteiner,
    &__input-text-conteiner {
        border: 1px solid var(--main-color-dw);
        border-radius: 5px;

        input {
            margin: 1vh 0vw;
        }
    }

    &__input-slider-label {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__input-slider-label-img-1,
    &__input-slider-label-img-2 {
        height: 40px;
        width: 40px;
    }

    &__input-slider-label-img-1 {
        background: url('/src/img/header/Icon1.png') 0 0 no-repeat;
    }

    &__input-slider-label-img-2 {
        background: url('/src/img/header/Icon2.png') 0 0 no-repeat;
    }

    &__input-slider-label-text-conteiner {
        margin-left: 1vw;
    }

    &__input-slider-label-text {}

    &__input-slider-label-text-calc {}


    &__input-slider-text-conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__input-slider-text {}


    &__input-slider {
        input {
            background: #000;
            border: 1px solid var(--main-color-w);
        }

    }

    &__input-slider-conteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1vh 1vw;
        margin: 1vh 1vw;
        max-width: 300px;
        width: 100vw;
    }

    &__input-text {

        input {
            background: #ffffff;
            border: 1px solid var(--main-color-w);
            margin: 1vh 0vw;
        }
    }

    &__input-text-conteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1vh 1vw;
        margin: 1vh 1vw;
        max-width: 300px;
        width: 100vw;
    }

    &__result-conteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    &__result-content-conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__result-content {
        color: var(--main-color-black);
        font-weight: var(--front-w7);
        margin: 1vh 0vw;

        span {
            font-size: var(--front-size20);

            @media (max-width:768px) {
                font-size: 14px;
            }
        }
    }

    &__result-content-text {}

    &__result-content-calc {
        font-size: var(--front-size40);
        padding: 1vh 0vw;

        @media (max-width:768px) {
            font-size: 30px;
        }
    }

    &__result-btn {
        width: 360px;
        height: 60px;

        @media (max-width:768px) {
            width: 300px;
        }
    }
}