.requirements {

    &__title {
        padding: 2vh 0vw;
        margin-top: var(--margin-top);
    }

    &__block-conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width:1024px) {
            justify-content: center;
        }
    }

    .requirements__block-conteiner {
        :nth-child(1) {
            .requirements__block-img {
                background: url('/src/img/requirements/1.png') 0 0 no-repeat;
            }
        }

        :nth-child(2) {
            .requirements__block-img {
                background: url('/src/img/requirements/2.png') 0 0 no-repeat;
            }
        }

        :nth-child(3) {
            .requirements__block-img {
                background: url('/src/img/requirements/3.png') 0 0 no-repeat;
            }
        }

        :nth-child(4) {
            .requirements__block-img {
                background: url('/src/img/requirements/4.png') 0 0 no-repeat;
            }
        }
    }

    &__block {
        max-width: 550px;
        width: 100vw;
        display: flex;
        justify-content: start;
        align-items: center;
        min-height: 120px;
        height: 100%;
        padding: 10px 10px;
        margin: 10px 0px;
        border: 1px solid var(--main-color-dw);
        border-radius: 15px;
        background: var(--main-color-w);
    }

    &__block-img {
        min-width: 60px;
        height: 60px;
    }

    &__block-text {
        margin-left: 1vw;
    }

    &__content-conteiner {
        border: 1px solid var(--main-color-dw);
        border-radius: 15px;
        background: var(--main-color-w);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 2vw;
        margin-top: 10px;
        @media (max-width:992px) {
            flex-direction: column;
        }
    }

    &__content-title-conteiner {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:992px) {
            flex-direction: column;
            padding: 10px 0px;
        }
    }

    &__content-img {
        background: url('/src/img/requirements/5.png') center/cover no-repeat;
        min-width: 60px;
        height: 60px;

        @media (max-width:768px) {
            min-width: 50px;
            height: 50px;
        }
    }

    &__content-title {
        margin: 0vh 1vw;

        @media (max-width:768px) {
            margin: 1vh 1vw;
        }
    }

    &__content-text {

    }

    &__content-text-link {}
}

.conteiner {}