//Styles
@import "/src/scss/_null.scss";
@import "/src/scss/_font name.scss";
@import "/src/scss/_adaptiv.scss";

//!===============================================================================
//heder
@import "/src/pages/header/style/style.scss";
//offers
@import "/src/pages/offers/style/style.scss";
//work
@import "/src/pages/work/style/style.scss";
//questions
@import "/src/pages/questions/style/style.scss";
//benefits
@import "/src/pages/benefits/style/style.scss";
//feedback
@import "/src/pages/feedback/style/style.scss";
//requirements
@import "/src/pages/requirements/style/style.scss";
//!===============================================================================
:root {
  --main-rotate-minus: -55deg;
  --main-rotate-plus: 55deg;
  --main-rotate-zero: 0;
  --main-color-black: rgb(0, 0, 0);
  --main-color-dw: rgb(138, 136, 136);
  --main-color-w: rgb(255, 255, 255);
  --main-color-gren: #57B18A;
  --main-color-grenM: #79C1A1;
  --main-color-mod1: #6F6FC4;
  --main-color-mod2: #FFA27D;
  --main-color-m: rgb(158, 5, 5);
  --main-color-mh: rgb(255, 0, 0);
  --main-color-o1: rgba(0, 0, 0, 0.1);
  --main-color-o9: rgba(0, 0, 0, 0.9);
  --front-w3: 300;
  --front-w4: 400;
  --front-w5: 500;
  --front-w7: 700;
  --front-size11: 0.8vw;
  --front-size14: 0.9vw;
  --front-size17: 1.0vw;
  --front-size20: 1.2vw;
  --front-size27: 1.4vw;
  --front-size32: 1.8vw;
  --front-size40: 2vw;
  --front-size65: 3.6vw;
  --front-sizeMax: 4.6vw;
}

%btn {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: var(--front-size14);
    color: var(--main-color-black);
  }

  width: 32vw;
  height: 9vh;
  border-radius: 3vw;
  color: var(--main-color-w);
  transition: background 0.3s ease 0s;

  &:hover {
    background: var(--main-color-w);
  }
}

//!===============================================================================
//main
body {
  cursor: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  background: #F9F8FE;
  // font-size: calc(10px + (30 - 20) * ((100vw - 320px) / (1600 - 320)));


  .conteiner {
    max-width: 1190px;
    margin: 0 auto;
    padding: 1vw 1.5vw;
  }

  a {
    transition: color 0.3s ease 0s;
    color: var(--main-color-d);

    &:hover {
      color: var(--main-color-mh);
    }
  }

  h2 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: var(--front-size40);
    
  }

  h3 {
    font-family: 'Oranienbaum', sans-serif;

    font-size: 1.2vw;
  }

  h4 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 1vw;
  }

  h2,
  h3,
  h4 {
    color: var(--main-color-black);
    font-weight: var(--front-w7);
  }

  .line {

    &__style {
      border: 1px solid var(--main-color-dw);
      margin: 1vh 0px;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color-gren);

    font-size: var(--front-size27);
    width: 32vw;
    height: 9vh;
    border-radius: 1vw;
    color: var(--main-color-w);
    transition: background 0.3s ease 0s;

    &:hover {
      background: var(--main-color-grenM);
    }
  }
}

//!===============================================================================

.header-navigation.activ {
  position: fixed;
  margin-left: -10px;
  width: 100vw;
  background: rgba(7, 7, 7, 0.418);
}

//!===============================================================================