.questions {

    &__bg {
        background: url('/src/img/questions/questions.png') center/cover no-repeat;

        width: 100%;
        min-height: 280px;
        margin: 8vh 0vw;
    }

    &__content {
        min-height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__content-title {}

    &__content-text {
        display: block;
        color: var(--main-color-black);
        font-weight: var(--front-w5);
        padding: 3vh 0vw;
    }
}

.conteiner {}